{% extends "layout.njk"%}
{% block head %}
    <title>Rocketseat - Sobre</title>
{% endblock %}

{% block content %}
    <div id="container">
        <img class="logo" src="https://svgshare.com/i/Nr2.svg" alt="logo rocketseat">
        <h1>Rocketseat</h1>
        <p>Mais do que uma plataforma de educação em tecnologia, a Rocketseat é uma comunidade incrível de programadores em busca do
            <strong>próximo nível</strong>.</p>
        <h3>Principais tecnologias utilizadas:</h3>
        <div class="tecnologias">
            <a href="https://www.javascript.com/"><img src="https://svgshare.com/i/Mwf.svg" alt="javascript"></a>
            <a href="https://blog.rocketseat.com.br/tag/nodejs/" target="_blank"><img src="https://svgshare.com/i/Mwd.svg" alt="Nodejs"></a>
            <a href="https://blog.rocketseat.com.br/tag/reactjs/" target="_blank"><img src="https://svgshare.com/i/Mv2.svg" alt="reactjs"></a>
            <a href="https://blog.rocketseat.com.br/tag/react-native/" target="_blank"><img src="https://svgshare.com/i/Mwe.svg" alt="reactnative"></a>
        </div>
    </div>

{% endblock %}