<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" rel="icon" type="image/x-icon"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="notFound">
            <h1 class="ops">Oopss! Algo deu errado.</h1>
            <img src="https://svgshare.com/i/NsS.svg" alt="" class="qeq">
            <div class="voltar">
                <p class="calm">Mantenha a calma, você pode voltar clicando no botão abaixo:</p>
                <a class="volta" href="/">Voltar</a>
            </div>

        </div>

    </body>
</html>